[submodule "site/themes/hugo_theme_aglaus"]
	path = site/themes/hugo_theme_aglaus
	url = https://github.com/dim0627/hugo_theme_aglaus.git
[submodule "site/themes/hugo-theme-casper"]
	path = site/themes/hugo-theme-casper
	url = git@github.com:vjeantet/hugo-theme-casper.git
